<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="splunk:Enabled" value="1"/>
    <add key="splunk:Host" value="http://splunkapi.cignium.com:8088"/>
    <add key="splunk:Token" value="D6529CD2-9A04-49C0-B3D7-899A5D0CC125"/>
    <add key="splunk:Index" value="aigweb_qa"/>
    <add key="splunk:Source" value="AIG Life Insurance"/>
    <add key="splunk:SourceType" value="LeadGen Site"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
